---
title: About Me
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page" style="min-height: 500px">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->
	<div class="col-md-7" style="padding-top: 55px">
	  <!--<h2 class="no-top-space">Relish The Moment</h2>-->
	  <p>毕业于湖北工业大学，目前就职于安居客BI部 - 数据平台研发工程师</p>
	  <p>Every day is a new beginning. Treat it that way. Stay away from what might have been, and look at what can be</p>
	  <!-- BEGIN LISTS -->
    <h3 class="no-top-space">Hobbies</h3>
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> 动漫</li>
		<li><i class="fa fa-check"></i> 小说</li>
		<li><i class="fa fa-check"></i> 电影</li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> 摄影</li>
		<li><i class="fa fa-check"></i> 旅游</li>
		<li><i class="fa fa-check"></i> 睡觉</li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->

	<!-- BEGIN CAROUSEL -->
	<div class="col-md-5 front-carousel">
	  <div id="myCarousel" class="carousel slide">
	    <!-- Carousel items -->
	    <div class="carousel-inner">
	    <div class="item active">
        <img src='/img/sunshine.jpg'>
		    <div class="carousel-caption">
		      <p>Relish The Moment</p>
		    </div>
	    </div>
	    <div class="item">
        <img src='/img/sunflower.jpg'>
		    <div class="carousel-caption">
		      <p>Relish The Moment</p>
		    </div>
	    </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
	      <i class="fa fa-angle-left"></i>
	    </a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">
	      <i class="fa fa-angle-right"></i>
	    </a>
	  </div>
	</div>
	<!-- END CAROUSEL -->
      </div>

      <div class="row margin-bottom-40">
	<!-- BEGIN TESTIMONIALS -->
	<!-- END TESTIMONIALS -->

	<!-- BEGIN PROGRESS BAR -->
	<!-- END PROGRESS BAR -->
      </div>

      <div class="row front-team">
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
